# 全局忽略
.DS_Store
Thumbs.db
*.log
*.tmp

# Backend: Spring Boot 项目忽略规则
/backend/target/
/backend/.idea/
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/.mvn/
/backend/mvnw
/backend/mvnw.cmd
/backend/*.iml
/backend/.vscode/
/backend/logs/
/backend/*.log
/backend/*.tmp
/backend/*.bak
/backend/*.swp
/backend/.gradle/
/backend/build/



# Frontend: Vue 3 项目忽略规则
/frontend/node_modules/
/frontend/.idea/
/frontend/.vscode/
/frontend/dist/
/frontend/*.local
/frontend/.env.local
/frontend/.env.*.local
/frontend/yarn-error.log
/frontend/.nuxt/
/frontend/.output/

# 忽略IDE配置文件
*.iml
.idea/
.vscode/

# 忽略操作系统生成的临时文件
*.swp
*.swo
*.bak
*.tmp
*.temp

